
.logo-container {
  z-index: 0;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  margin: 8rem 10rem 8rem 10%;
}

.logo-svg {
  width: 100%;
  height: auto;
  bottom: 0;
  transform: rotateZ(-15deg) !important;
}

.logo-solid {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  margin: auto;
  opacity: 0;
  width: 100%;
  transform: rotateZ(-15deg) !important;
  z-index: 1;
}

/*.svg-container {*/
/*  stroke: black;*/
/*  stroke-width:10;*/
/*}*/

.strokePath {
  stroke-width: 30;
  stroke: #13293D;
}

@media (max-width: 690px) {
  .logo-container {
    width: 350px;
    height: 350px;
    margin: 8rem 10rem 8rem 20%;
  }
  .about-info {
    padding-top: 12rem;
  }

}

@media (min-width: 1050px) and (max-width: 1360px) {
  .logo-container {
    margin: 8rem 10rem 8rem 10%;
    width: 500px;
  }
  /*.about-info {*/
  /*  padding-top: 20rem;*/
  /*  width: 100%;*/
  /*}*/
}

@media (min-width: 690px) and (max-width: 1050px) {
  .logo-container {
    margin: 8rem 10rem 8rem 15%;
  }
  .about-info {
    padding-top: 20rem;
    width: 100%;
  }
}

@media (min-width: 1800px) {
  .logo-container {
    margin: 8rem 10rem 8rem 20%;
  }
}


